body {
  background-image: url('img/background/typewriter.jpg');
  height: 1200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
span {
  font-size: 2em;
  font-family: Dosis;
}
/* row white da home */
#bloco-1 {
  min-height: 500px;
  padding-top: 62px;
  padding-bottom: 34px;
  margin-top: 500px;
}
#texto-footer {
  margin-bottom: 2em;
}

footer {
  margin-top: 400px;
  margin-bottom: 0;
}
